body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8d8d8d;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.container {
    font-size: 0px;
    margin: 0 auto;
    padding: 20px;
    max-width: 600px; 
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);}

form {
   
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;}

input[type="text"],
input[type="file"],
textarea,
#wpp,
#certfics,
#revendedors {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #000;
    border-radius: 5px;}

input:hover,
input[type="text"]:hover,
input[type="file"]:hover,
textarea:hover,
#wpp:hover,
#certfics:hover,
#revendedors:hover {
    background-color: #eceaea;
}

button,
#calendario {
    padding: 10px 20px;
    background-color: #919191;
    color: #000;
    border: 3px solid #000;
    border-radius: 5px;
    cursor: pointer;}

button:hover,
#calendario:hover {
    background-color: #aaaaaa;
    color: #000; }