body {
    font-family: Arial, sans-serif;
    background-color: #757575;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    margin-top: 5px;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #757575;
    padding: 1cm;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(10, 10, 10);
    margin: 50px;
}

input[type="text"],
input[type="file"],
select,
textarea {
    padding: 2px;
    margin-bottom: 2px;
    border: 2px solid #000000;
    border-radius: 4px;
}

button {
    background-color: #000000;
    color: #a3a3a3;
    border: 2px solid #000000; 
    padding: 1px 1cm;
    cursor: pointer;
    border-radius: 4px;
}
 
.button {
    margin: 0 10px;
}

 
.button-icon {
    background-color: #000000;
    color: #a3a3a3;
    border: 2px solid #000000;  
    padding: 10px 8px;
    cursor: pointer;
    border-radius: 4px;
}

.button-start, .button-finish {
    text-align: left;
}

ion-icon {
    font-size: 24px;
    vertical-align: middle;
}

#obs {
    padding: 10px;
    margin-bottom: 1px;
    border: 2px solid #000000;
    border-radius: 4px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div[style^="width"] {
    flex: 1;
    margin: 4px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1px;
}

.button-save, .button-cancel {
    margin: 0 10px;
}